:root {
  --modal-display: none;
  --modal-content: '';
  --toggle-btn-direction: rotate(0);
}

* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.only_mobile {
  display: none;
}

input,
textarea {
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

.btn_cover {
  display: flex;
  justify-content: center;
}

.main_more_btn,
.main_store_btn,
.more_btn,
.store_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 2.6rem;
  margin: 0 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #fff;
  color: #555;
  border-radius: 20px;
  box-shadow: 2px 4px 15px -8px rgb(194, 194, 194),
    -2px 4px 15px -8px rgb(177, 177, 177);
  transition: transform 250ms ease-in;
}

.more_text {
  font-size: 1.4rem;
  text-decoration: underline;
  color: #00c6ff;
  font-weight: 600;
  margin-bottom: 4rem;
  cursor: pointer;
}

.more_text:hover {
  color: #888;
}

.pc_container .main_more_btn,
.pc_container .main_store_btn {
  box-shadow: 6px 8px 20px -8px #555, -6px 8px 20px -8px #555;
}

.main_more_btn:hover,
.main_store_btn:hover,
.more_btn:hover,
.store_btn:hover {
  transform: scale(1.1);
}

/* header */

.nav_cover::after {
  display: var(--modal-display);
  position: absolute;
  content: var(--modal-content);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  background-image: linear-gradient(
    90deg,
    #5ea8bf,
    rgb(126, 152, 206),
    rgb(25, 45, 84)
  );
  width: 100%;
  height: 80px;
  animation: downMadal 200ms;
  z-index: 1000000;
}

@keyframes downMadal {
  0% {
    top: -10%;
  }
  20% {
    top: -8%;
  }
  40% {
    top: -6%;
  }
  60% {
    top: -4%;
  }
  80% {
    top: -2%;
  }
  100% {
    top: 0;
  }
}

.contents {
  position: relative;
  top: 58px;
  width: 100%;
  min-height: 1000px;
}

.fixed_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  margin: 0 0.8rem;
}

.page_up {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #00c6ff;
}

.nav_cover .chat {
  background-image: url(../images/icon/logostroke6.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 80px;
  height: 60px;
  font-size: 0.7rem;
  color: #000;
}

.page_up:hover,
.nav_cover .chat:hover {
  transform: scale(1.1);
}

.nav_cover .chat span {
  display: block;
  padding-top: 0.8rem;
}

.chat_cover {
  display: none;
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 350px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgba(99, 99, 99, 0.469);
}

.chat_cover header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: rgb(84, 177, 207);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  padding: 1.5rem 1rem;
}

.chat_cover header h2 {
  font-size: 1rem;
}

.close {
  font-size: 1.2rem;
  color: #fff;
}

.chat_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90%;
  padding: 1rem;
}

.chat_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat_consultant {
  display: none;
  justify-content: center;
  margin-bottom: 1rem;
}

.chat_box .chat_consultant img {
  margin-right: 10px;
}

.chat_box .chat_consultant span {
  width: 80%;
  background-color: rgba(191, 191, 191, 0.507);
  border-radius: 12px;
  padding: 1rem;
  font-size: 0.8rem;
}

.chat_box .chat_consultant img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.chat_box .chat_consultant:nth-child(2) span {
  width: fit-content;
  height: fit-content;
  font-size: 0.4rem;
}

.chat_box .chat_consultant:nth-child(2) span .fas {
  margin: 0 0.2rem;
  color: rgb(84, 84, 84);
}

.chat_main form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chat_main form input {
  padding: 0.5rem 1rem;
  background-color: rgba(153, 153, 153, 0.311);
  width: 100%;
  border-radius: 20px;
}

.chat_main form button {
  font-size: 1.4rem;
  color: #555;
}

.nav_cover {
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 200000;
}

.nav_cover > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  background-color: #000;
  z-index: 200000;
}

.nav_cover nav {
  display: flex;
  align-items: center;
  height: inherit;
  z-index: 2000;
}

.logo {
  display: block;
  margin: 0 10px;
  transition: transform 200ms ease-in-out;
}

.logo span {
  display: none;
}

.logo img {
  display: block;
  width: 50px;
  height: 30px;
}

.logo:hover {
  transform: scale(1.1);
}

.nav_main {
  display: flex;
  align-items: center;
  height: inherit;
}

.nav_main > li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 40px;
  height: inherit;
}

.nav_main > li a {
  display: block;
  text-align: center;
  width: 100%;
  z-index: 60;
}

.nav_main > li::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 300ms ease-in;
}

.nav_main > li:hover::before {
  width: 100%;
}

.nav_main a {
  display: inline-block;
  color: #fff;
}

.nav_sub {
  position: absolute;
  top: 80px;
  z-index: 50;
  text-align: center;
  height: 300px;
  background-color: inherit;
}

.nav_sub > li > a {
  display: block;
  font-size: 0.8rem;
  line-height: 50px;
  width: 120px;
  height: 50px;
  color: #fff;
  transition: all 150ms ease-in;
}

.nav_sub > li > a:hover {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.nav_side {
  display: flex;
  align-items: center;
  position: relative;
}

.nav_side li {
  margin: 0 10px;
}

.nav_side > li img {
  width: 20px;
  height: 22px;
  transition: transform 200ms ease-in-out;
}

.nav_side li:nth-child(3) img {
  height: auto;
}

.nav_side li img:hover {
  transform: scale(1.2);
}

.side_btn_cover {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 200%;
  left: -120%;
  font-size: 1rem;
  background-color: rgb(175, 175, 175);
  color: #fff;
  width: 200px;
  height: 100px;
  border-radius: 10px;
}

.side_btn_cover::before {
  display: block;
  content: '';
  position: absolute;
  top: -10px;
  right: 25px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(175, 175, 175);
  transform: rotate(45deg);
}

.side_btn_cover a {
  padding: 0.8rem 1rem;
  border-bottom: 1px rgb(154, 154, 154) solid;
}

.side_btn_cover > button {
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-bottom: 1px rgb(154, 154, 154) solid;
  text-align: left;
}

.side_btn_cover button:hover,
.side_btn_cover a:hover {
  color: #555;
}

.side_btn_cover a:nth-child(6) {
  border: none;
}

.side_btn_cover button .fas,
.side_btn_cover a .far,
.side_btn_cover a .fas {
  padding: 0 0.4rem;
}

.how_to_app_download {
  width: 100%;
  height: 100vh;
  background-color: #5e5e5e;
}

.search_form_cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000000;
}

.search_form {
  background-color: #000;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}

.search_input {
  width: 30rem;
  height: 3rem;
  margin: 0 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: #555;
}

#search_input_btn img {
  display: block;
  width: 2.5rem;
  height: auto;
}

.search-keyword {
  width: 100%;
  max-width: 600px;
  height: fit-content;
  padding: 1rem;
  margin: auto;
}

.search-close-btn {
  display: none;
  font-size: 1rem;
  text-align: right;
  width: 100%;
  color: #fff;
}

.search-keyword span {
  display: block;
  color: #999;
  margin: 0 1rem 1rem 1rem;
}

.search-keyword ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 0.8rem;
}

.search-keyword ul:last-child li {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 21%;
  max-width: 80px;
  height: 80px;
  border-radius: 10px;
}

.search-keyword ul:last-child li:nth-child(1) {
  background-image: url(../images/store.jpg);
}

.search-keyword ul:last-child li:nth-child(2) {
  background-image: url(../images/storephone3.jpg);
}

.search-keyword ul:last-child li:nth-child(3) {
  background-image: url(../images/pad3.jpg);
}

.search-keyword ul:last-child li:nth-child(4) {
  background-image: url(../images/pc3.jpg);
}

.search-keyword li {
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  background-color: #e2e2e2;
  font-weight: 400;
  line-height: 1rem;
  border-radius: 50px;
  margin: 0.4rem;
}

.sub_cover {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 300px;
  background-color: rgba(5, 5, 5, 0.9);
  z-index: 199;
}

/* footer */
.footer_menu_mobile {
  display: none;
}

.footer_cover {
  background-color: #555;
  color: #fff;
  margin-top: 8rem;
}

.footer_cover footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  margin: auto;
  padding: 3rem 2rem;
  font-size: 0.75rem;
  font-weight: 200;
}

.footer_menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-top: 1px solid #555;
  padding: 0 3rem;
  margin-top: 20rem;
}

.footer_menu_title {
  padding: 3rem 1rem;
  height: 300px;
}

.footer_menu_title > a {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer_menu_title a:hover {
  color: #888;
}

.footer_menu_sub {
  font-size: 0.87rem;
  flex-direction: column;
}

.footer_menu_sub li {
  margin-bottom: 1rem;
}

.footer_menu_sub li:last-child {
  text-decoration: underline;
}

.footer_info {
  max-width: 860px;
}

.footer_info > span {
  font-weight: 400;
}

.footer_info > a:hover {
  text-decoration: underline;
}

.footer_copyright {
  font-size: 0.9rem;
}

.footer_copyright a:hover {
  text-decoration: underline;
}

.footer_sns {
  text-align: right;
}

.footer_sns a {
  display: inline-block;
  margin: 0 4px;
  font-size: 2rem;
  transition: transform 200ms ease-in-out;
}

.footer_sns a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.5rem;
    transition: none;
    margin: 0;
  }

  .logo span {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
  }

  .logo img {
    display: none;
    /* width: 3rem;
    height: auto; */
  }

  .logo:hover {
    transform: scale(1);
  }

  .nav_main,
  /* .nav_sub, */
  .only_pc,
  .sub_cover {
    display: none;
  }

  .more_btn,
  .store_btn {
    font-size: 0.8rem;
    width: 7rem;
  }

  .contents {
    top: 40px;
  }

  .fixed_btn {
    bottom: 80px;
  }

  .page_up {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .nav_cover .chat {
    display: none;
    width: 60px;
    font-size: 0.4rem;
  }

  .nav_cover::after {
    font-size: 1rem;
  }

  .chat_cover {
    max-width: 280px;
  }

  .chat_header h2,
  .chat_header .close {
    padding: 0.4rem 1rem;
  }

  .chat_box .chat_consultant img {
    width: 40px;
    height: 40px;
  }

  .only_mobile {
    display: flex;
  }

  .toggle_btn {
    position: fixed;
    left: 0;
    top: 0.6%;
    padding: 0.4rem;
    transition: transform 200ms ease-in-out;
    z-index: 300000;
    cursor: pointer;
  }

  .toggle_btn img {
    width: 2rem;
    height: auto;
  }

  .toggle_btn:hover {
    transform: scale(1.2);
  }

  .only_pc {
    display: none;
    flex-direction: column;
  }

  .nav_cover {
    position: fixed;
    width: 100%;
    height: fit-content;
    min-height: 60.78px;
    background-color: #3e545e;
  }

  .nav_cover header {
    position: relative;
    padding: 0.4rem 0;
    align-items: center;
    height: fit-content;
    background-color: #3e545e;
  }

  .nav_cover nav {
    align-items: flex-start;
    flex-grow: 1;
    height: 48px;
    position: relative;
  }

  .nav_main {
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    min-height: 100vh;
    padding: 3rem 0 0 0;
    width: 100%;
  }

  .nav_main > li {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    border-bottom: #777 1px solid;
    cursor: pointer;
  }

  .nav_main > li > a {
    text-align: left;
    padding: 0.6rem 0 0.6rem 3rem;
    width: 85%;
    font-size: 1.4rem;
    font-weight: 200;
  }

  .nav_main > li::after {
    position: absolute;
    top: 0;
    right: 10%;
    content: '▾';
    font-size: 1.8rem;
    color: #fff;
    height: 45px;
    transform: var(--toggle-btn-direction);
  }

  .nav_main > li::before {
    height: 100%;
    background-color: #999;
  }

  .nav_main > li:hover:before {
    width: 0;
  }

  .nav_main > li:active:before {
    background-color: #999;
  }

  .nav_sub {
    display: none;
    position: static;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-bottom: 2rem;
  }

  .nav_sub > li > a {
    width: 80%;
    margin: auto;
    text-align: left;
    font-weight: 300;
    font-size: 1rem;
    border-bottom: 1px #444 solid;
  }

  .nav_side li:nth-child(1) button img {
    width: 22px;
    height: auto;
  }

  .nav_side > li:nth-child(1),
  .nav_side > li:nth-child(2) {
    display: none;
  }

  .side_btn_cover {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: flex-start;
    border-radius: 0;
    width: 100%;
    height: 100vh;
    padding: 4rem 1rem;
    text-align: left;
  }

  .side_btn_cover::before {
    display: none;
  }

  .side_btn_cover a,
  .side_btn_cover > button {
    padding: 1rem;
    width: 100%;
  }

  .side_btn_cover a .far,
  .side_btn_cover a .fas,
  .side_btn_cover button .fas {
    padding: 0 2rem;
  }

  .nav_side > li > .search_btn > img {
    display: block;
    width: 25px;
    height: auto;
  }

  .search_form {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0 2rem;
  }

  .search_input {
    height: 2.4rem;
    margin: 0 1rem 0 0;
    padding: 0.4rem 2rem;
  }

  #search_input_btn img {
    width: 24px;
  }

  .mobile_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #3e545e;
    z-index: 1000000;
  }

  .footer_menu_mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
  }

  .footer_menu_mobile > li {
    width: 25px;
    height: auto;
  }

  .footer_menu_mobile > li > a,
  .footer_menu_mobile > li > button {
    font-size: 1.4rem;
    color: #fff;
  }

  .footer_menu_mobile a:active,
  .footer_menu_mobile button:active {
    color: #00c6ff;
  }

  /* footer */

  .footer_cover {
    margin-top: 20rem;
  }

  .footer_cover footer {
    font-size: 0.6rem;
    padding: 3rem 1rem;
  }

  .footer_copyright {
    font-size: 0.8rem;
  }
  .footer_sns {
    margin: 1rem 0;
  }
  .footer_sns a {
    font-size: 1.8rem;
  }
}
