* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* header */
.nav_cover {
  width: 100%;
  background-color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 80px;
  margin: auto;
  background-color: #000;
}

nav {
  display: flex;
  align-items: center;
  height: inherit;
}

.logo {
  margin: 0 10px;
  transition: transform 200ms ease-in-out;
}

.logo img {
  width: 50px;
  height: 30px;
}

.logo:hover {
  transform: scale(1.1);
}

.nav_main {
  display: flex;
  align-items: center;
  height: inherit;
}

.nav_main > li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 40px;
  height: inherit;
}

.nav_main > li::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 300ms ease-in;
}

.nav_main > li:hover::before {
  width: 120px;
}

.nav_main a {
  color: #fff;
}

.nav_sub {
  position: absolute;
  top: 80px;
  z-index: 50;
  text-align: center;
  height: 300px;
  background-color: inherit;
}

.nav_sub > li > a {
  display: block;
  font-size: 0.8rem;
  line-height: 50px;
  width: 120px;
  height: 50px;
  color: #555;
  transition: all 150ms ease-in;
}

.nav_sub > li > a:hover {
  color: #fff;
  font-weight: 600;
}

.nav_side {
  display: flex;
}

.nav_side li {
  margin: 0 10px;
}

.nav_side li a img {
  width: 20px;
  height: auto;
  transition: transform 200ms ease-in-out;
}

.nav_side li a img:hover {
  transform: scale(1.2);
}

.sub_cover {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
}

.contents {
  min-height: 1000px;
}

/* footer */

.footer_cover {
  background-color: #555;
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 340px;
  margin: auto;
  padding: 0 20px;
  font-size: 0.75rem;
  font-weight: 200;
}

.footer_info {
  max-width: 860px;
}

.footer_info > span {
  font-weight: 400;
}

.footer_info > a:hover {
  text-decoration: underline;
}

.footer_copyright {
  font-size: 0.9rem;
}

.footer_copyright a:hover {
  text-decoration: underline;
}

.footer_sns {
  text-align: right;
}

.footer_sns a {
  display: inline-block;
  margin: 0 4px;
  font-size: 2rem;
  transition: transform 200ms ease-in-out;
}

.footer_sns a:hover {
  transform: scale(1.1);
}
