.new_product {
  width: 100%;
}

.new_product .img {
  width: 100%;
  height: 100%;
}

.new_product .img span {
  display: block;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

.new_product h2 {
  padding: 1rem;
  font-size: 5rem;
  color: #555;
}

.new_product p {
  padding: 1rem;
  font-size: 1.4rem;
  color: #555;
}

.text_cover {
  margin: 1rem;
}

.new_product_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  min-height: 100vh;
}

.new_product_intro .img span {
  background-image: url(../images/homeapp22.png);
}

.new_product_moving {
  padding: 5rem 0;
  min-height: 100vh;
}

.new_product_moving .text_cover {
  margin-bottom: 5rem;
}

.new_product_moving .img span {
  background-image: url(../images/apphome.jpg);
}

.new_product_time {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  min-height: 100vh;
}

.new_product_time .img span {
  background-image: url(../images/homeapp12.jpg);
}

.new_product_touch {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 5rem 0;
  min-height: 100vh;
}

.new_product_touch .img span {
  background-image: url(../images/homeapp19.jpg);
}

.new_product_tema {
  text-align: center;
  padding: 5rem 0;
  height: 1300px;
}

.new_product_tema .text_cover {
  margin-bottom: 5rem;
}

.new_product_tema .img {
  position: relative;
}

.new_product_tema .img span {
  position: absolute;
}

.new_product_tema .img span:nth-child(1) {
  background-image: url(../images/homeapp4.jpg);
}

.new_product_tema .img span:nth-child(2) {
  background-image: url(../images/homeapp5.jpg);
}

.new_product_tema .img span:nth-child(3) {
  background-image: url(../images/homeapp6.jpg);
}

.new_product_experience .video video {
  width: 100%;
  height: 100vh;
}

.life_edu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  min-height: 100vh;
}

.life_edu .video {
  width: 100%;
  max-width: 700px;
}

.life_edu .video video {
  width: 100%;
}

.life_shopping {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  min-height: 100vh;
}

.life_shopping .img {
  max-width: 800px;
}

.life_shopping .img span {
  background-image: url(../images/homeapp13.jpg);
}

.life_training {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  min-height: 100vh;
}

.life_training .img {
  max-width: 800px;
}

.life_training .img span {
  background-image: url(../images/homeapp26.jpg);
}

.life_family {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  height: 100vh;
  min-height: 100vh;
}

.life_family .img {
  position: relative;
  max-width: 700px;
}

.life_family .img span {
  position: absolute;
  background-position: top center;
  max-width: 700px;
}

.life_family .img span:nth-child(1) {
  background-image: url(../images/homeapp9.jpg);
}

.life_family .img span:nth-child(2) {
  background-image: url(../images/homeapp11.jpg);
}

.life_family .img span:nth-child(3) {
  background-image: url(../images/homeapp24.jpg);
}

.new_product_alone {
  padding: 5rem 0;
  text-align: center;
  height: 1500px;
}

.new_product_alone .text_cover {
  margin-bottom: 5rem;
}

.new_product_alone .img {
  position: relative;
  max-width: 800px;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.new_product_alone .img span {
  position: absolute;
  background-size: cover;
}

.new_product_alone .img span:nth-child(1) {
  background-image: url(../images/homeapp28.jpg);
}

.new_product_alone .img span:nth-child(2) {
  background-image: url(../images/homeapp34.jpg);
}

.new_product_alone .img span:nth-child(3) {
  background-image: url(../images/homeapp10.jpg);
}

.new_product_spec {
  padding: 5rem 0;
}

.new_product_spec h2 {
  font-size: 1rem;
  padding: 0 5rem;
}

.new_product_spec .img span {
  width: 100%;
  height: 500px;
}

.new_product_spec .img span:nth-child(1) {
  background-image: url(../images/homeapp15.jpg);
}

.new_product_spec .img span:nth-child(2) {
  background-image: url(../images/homeapp16.jpg);
}

.new_product_spec .img span:nth-child(3) {
  background-image: url(../images/homeapp17.jpg);
}

.new_product_spec .img span:nth-child(4) {
  background-image: url(../images/homeapp3.jpg);
}

.homeapp_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10rem 2rem;
  flex-grow: 1;
}

.homeapp_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 500px;
  box-shadow: 5px 5px 25px 19px rgba(153, 153, 153, 0.288);
  margin: 1rem;
  padding: 2rem 3rem;
  border-radius: 20px;
}

.homeapp_detail_title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.homeapp_detail_img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
}

.homeapp_page .homeapp_detail:nth-child(1) .homeapp_detail_img {
  background-image: url(../images/storehomeapp.jpg);
}

.homeapp_page .homeapp_detail:nth-child(2) .homeapp_detail_img {
  background-image: url(../images/homeapp2.jpg);
}

.homeapp_page .homeapp_detail:nth-child(3) .homeapp_detail_img {
  background-image: url(../images/homeapp.jpg);
}

.btn_cover {
  margin-bottom: 2rem;
}

@media screen and (max-width: 992px) {
  .new_product h2 {
    font-size: 2rem;
  }

  .new_product p {
    font-size: 0.9rem;
    padding: 1rem 0;
    width: 80%;
  }

  .new_product .img span {
    max-height: 350px;
  }

  .new_product_intro {
    flex-direction: column;
  }

  .new_product_moving h2 {
    width: 85%;
    margin: auto;
  }

  .new_product_moving p {
    text-align: center;
    margin: auto;
  }

  .new_product_time {
    flex-direction: column;
    align-items: center;
  }

  .new_product_time p {
    margin: auto;
    text-align: center;
  }

  .new_product_touch {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .new_product_touch p {
    margin: auto;
  }

  .new_product_tema {
    max-height: 1000px;
  }

  .new_product_tema p {
    margin: auto;
  }

  .new_product_tema .img {
    max-height: 500px;
  }

  .new_product_tema .img span {
    background-size: cover;
    max-height: 500px;
  }

  .new_product_experience .video video {
    max-height: 250px;
  }

  .life_edu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .life_edu p {
    margin: auto;
  }

  .life_edu .video video {
    max-height: 300px;
  }

  .life_shopping {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .life_shopping p {
    margin: auto;
  }

  .life_training {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .life_training h2 {
    width: 60%;
    margin: auto;
    padding: 0;
  }

  .life_training p {
    margin: auto;
  }

  .life_family {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .life_family p {
    margin: auto;
  }

  .new_product_alone {
    max-height: 1000px;
  }

  .new_product_alone h2 {
    width: 90%;
    margin: auto;
  }

  .new_product_alone p {
    margin: auto;
  }

  .new_product_alone .img {
    max-height: 500px;
  }

  .new_product_spec h2 {
    font-size: 1rem;
  }

  .new_product_spec .img span {
    max-height: 200px;
  }

  .homeapp_page {
    padding: 1rem;
  }

  .homeapp_detail {
    font-size: 1rem;
    width: 100%;
    max-width: 320px;
    max-height: 350px;
    padding: 1rem;
    margin: 1rem;
    overflow: hidden;
  }

  .homeapp_detail_title {
    font-size: 1.5rem;
  }
}
