.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 1000px;
  margin: 10rem auto 20rem;
  padding: 2rem 4rem;
  border-radius: 30px;
  box-shadow: 5px 5px 25px 5px rgb(153, 153, 153);
}

.join h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.join form {
  width: 100%;
  margin-bottom: 4rem;
}
.join_name,
.join_birth,
.join_id,
.join_password,
.join_password_check,
.join_phone_num {
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  border: 1px solid #555;
  border-radius: 10px;
}

.join_phone_num {
  margin-bottom: 2rem;
}

.line {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  background-color: #555;
}

.join form {
  display: flex;
  flex-direction: column;
}

.checkbox_cover {
  margin: auto;
  margin-bottom: 5rem;
}

.checkbox_cover p {
  margin: 0.3rem 0;
  text-decoration: underline;
}

.checkbox_cover p:first-child {
  font-weight: 600;
  text-decoration: none;
}

.join form button {
  width: 100%;
  height: 40px;
  padding: 0.6rem 2.2rem;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(90deg, #00c6ff, #04276b);
}

.join form button:hover {
  background-image: none;
  background-color: #fff;
  color: #00c6ff;
  border: 1px solid #00c6ff;
}
