.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: 1000px;
  margin: 5rem auto 20rem;
  padding: 2rem 4rem;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 5px rgb(209, 209, 209);
}

.join h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.join form {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.join_name,
.join_birth,
.join_id,
.join_password,
.join_password_check,
.join_phone_num {
  padding: 0.6rem 1rem;
  margin: 0.5rem auto;
  border: 1px solid rgba(153, 153, 153, 0.695);
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  margin: 1rem auto 2rem;
  max-width: 350px;
  width: 100%;
  background-color: rgba(153, 153, 153, 0.695);
}

.checkbox_cover {
  margin: auto;
  margin-bottom: 5rem;
}

.checkbox_cover p {
  margin: 0.3rem 0;
  text-decoration: underline;
}

.checkbox_cover p:first-child {
  font-weight: 600;
  text-decoration: none;
}

.join form button {
  height: 40px;
  padding: 0.6rem 2.2rem;
  margin: 0 2rem;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(90deg, #00c6ff, #04276b);
}

.join form button:hover {
  background-image: none;
  background-color: #fff;
  color: #00c6ff;
  border: 1px solid #00c6ff;
}

.join > a {
  color: #555;
  border-bottom: 1px solid #999;
}

@media screen and (max-width: 992px) {
  .contents {
    padding: 4rem 1rem;
  }
  .join {
    padding: 1rem;
    border-radius: 20px;
    margin: 0 auto;
  }
}
