.contants {
  background-color: #f2f2f2;
}

.slide {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.slide_img span {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.slide_img span:nth-child(1) {
  background-image: url(../images/storeslide1.png);
  background-color: #000;
}

.slide_img span:nth-child(2) {
  background-image: url(../images/storeslide2.png);
  background-color: #f7f7f7;
}

.slide_img span:nth-child(3) {
  background-image: url(../images/storeslide3.png);
  background-color: #fff;
  background-size: 110%;
}

.slide_img span:nth-child(4) {
  background-image: url(../images/storeslide4.png);
  background-color: #000;
}

.slide_img img {
  width: 100%;
  max-width: 1400px;
  height: auto;
}

.prev_btn,
.next_btn {
  position: absolute;
  font-size: 3rem;
  color: #999;
}

.prev_btn {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next_btn {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.control_line {
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.control_line li {
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.control_line .hover {
  background-color: #00c6ff;
}

/* store */
.store {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

/* store-nav */

.store_nav {
  margin: 2rem;
  color: #333;
}

.store_nav_title {
  margin-bottom: 2rem;
}

.store_nav_all {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-bottom: 1rem;
}

.store_nav_all button {
  font-weight: 600;
}

.store_nav {
  position: relative;
  width: 100%;
  max-width: 180px;
}

.store_nav button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  text-indent: 1rem;
  color: #000;
}

.store_nav button .fas {
  color: rgb(196, 196, 196);
}

.store_nav button:hover {
  color: #888;
}

/* store-items */
.store_items {
  padding: 1rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0 20rem 0;
}

.item_cover {
  margin: 5rem 0.8rem;
  padding: 30px;
  width: 100%;
  max-width: 350px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 5px 5px 25px 5px rgba(153, 153, 153, 0.288);
}

.item_category {
  display: block;
  color: #00c6ff;
  font-size: 0.87rem;
  text-align: left;
  margin-bottom: 1rem;
}

.item_img {
  width: 100%;
  height: 240px;
  background-image: url(/images/storephone.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: auto;
  margin-bottom: 1.8rem;
}

.item_title {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.item_product_name {
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.item_price {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: right;
}

.item_color {
  display: flex;
  text-align: left;
}

.item_color li {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  box-shadow: inset 3px 3px 5px rgba(159, 159, 159, 0.325);
  margin: 0 2px;
}

.btn_cover {
  display: flex;
}

.buy_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 40px;
  margin: 0 0.4rem;
  border-radius: 20px;
  border: 1px solid #555;
  cursor: pointer;
}

.buy_btn:hover {
  background-image: linear-gradient(90deg, #00c6ff, #04276b);
  box-shadow: 0 4px 15px 0 #888;
  border: none;
  color: #fff;
}

.heart_btn,
.cart_btn {
  transition: transform 250ms;
}

.heart_btn img,
.cart_btn img {
  width: 30px;
}

.heart_btn:hover,
.cart_btn:hover {
  transform: scale(1.1);
}

.store_more_btn {
  position: absolute;
  bottom: 10rem;
  left: 40%;
  width: 220px;
  height: 60px;
  font-size: 1.2rem;
  border-radius: 30px;
  box-shadow: 5px 5px 25px 5px rgba(153, 153, 153, 0.329);
  transition: 200ms;
}

.store_more_btn:hover {
  box-shadow: 5px 5px 25px 5px rgba(153, 153, 153, 0.699);
}

@media screen and (max-width: 992px) {
  .slide {
    max-height: 250px;
  }

  .prev_btn,
  .next_btn {
    display: none;
  }

  .store {
    flex-direction: column;
  }

  .store_nav {
    position: sticky;
    top: 60.78px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: fit-content;
    background-color: #fff;
    margin: 0;

    border-bottom: 1px solid #555;
  }

  .store_nav li:first-child {
    display: none;
  }

  .store_nav_all {
    border: none;
    margin: 0;
    font-weight: 600;
  }

  .store_nav button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 0;
    padding: 1rem 0.8rem;
    font-size: 0.6rem;
    font-weight: 600;
  }

  .store_nav button:hover {
    background-color: #999;
    color: #fff;
  }

  .store_nav .fas {
    display: none;
  }

  .store_items {
    padding: 0.4rem;
  }

  .items {
    justify-content: center;
  }

  .item_cover {
    width: 45%;
    max-width: 200px;
    height: 100%;
    max-height: 400px;
    margin: 4rem 0.2rem;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    flex-grow: 1;

    box-shadow: 5px 5px 10px rgba(160, 160, 160, 0.2),
      -5px -5px 10px rgba(160, 160, 160, 0.2);
  }

  .item_category {
    margin-bottom: 0.4rem;
  }

  .item_img {
    width: 100%;
    max-height: 120px;
    margin-bottom: 0.4rem;
    background-position: top center;
  }

  .item_title {
    font-size: 0.8rem;
  }

  .item_product_name {
    font-size: 0.6rem;
  }

  .item_color {
    margin-bottom: 0.5rem;
  }

  .store_more_btn {
    left: 50%;
    transform: translateX(-50%);
  }
  .btn_cover button {
    padding: 0;
  }

  .heart_btn img,
  .cart_btn img {
    width: 20px;
    padding: 0;
  }

  .buy_btn {
    width: 70%;
    min-width: 100px;
    height: 30px;
    font-size: 0.8rem;
  }
}
