.tablet_page {
  display: flex;
  width: 100%;
  height: 800px;
  padding: 10rem;
  flex-grow: 1;
  overflow: hidden;
}

.tablet_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;
  height: 500px;
  box-shadow: 5px 5px 10px 5px rgba(153, 153, 153, 0.288);
  margin: 0 3rem;
  padding: 2rem 3rem;
  border-radius: 20px;
}

.tablet_detail_title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.tablet_detail_img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
}

.tablet_page .tablet_detail:nth-child(1) .tablet_detail_img {
  background-image: url(../images/pad.jpg);
}

.tablet_page .tablet_detail:nth-child(2) .tablet_detail_img {
  background-image: url(../images/storePad.jpg);
}

.tablet_page .tablet_detail:nth-child(3) .tablet_detail_img {
  background-image: url(../images/storePad2.jpg);
}

.tablet_page .tablet_detail:nth-child(4) .tablet_detail_img {
  background-image: url(../images/pad2.jpg);
}

.tablet_page .tablet_detail:nth-child(5) .tablet_detail_img {
  background-image: url(../images/pad3.jpg);
}

.tablet_page .tablet_detail:nth-child(6) .tablet_detail_img {
  background-image: url(../images/pad4.jpg);
}

.tablet_page .tablet_detail:nth-child(7) .tablet_detail_img {
  background-image: url(../images/pad5.jpg);
}

.btn_cover {
  margin-bottom: 2rem;
}

.more {
  position: absolute;
  right: 5%;
  top: 50vh;

  font-size: 5rem;
  color: #00c6ff;
}

.more_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.more_contents button {
  width: 400px;
  height: 200px;
  font-size: 2rem;
  font-weight: 200;
  border-radius: 20px;
  margin: 2rem;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.more_contents button:hover {
  box-shadow: 9px 7px 30px 9px #00c8ff45;
  transform: scale(1.1);
}

.spec_btn {
  background-color: #00c6ff;
}

.compare_btn {
  border: 1px solid #00c6ff;
}
